Total Tasks: <%= Task.all.count %><br/><br/>

Last Task Name: <%= Task.last.name %><br/><br/>
Params: <%= params %><br/><br/>
Task Params: <%= @task_params %><br/><br/>
Time: <%= Time.now %><br/><br/>


<% [";", "%", "&", "+"].each do |char| %>

<form data-reflex="submit->Task#create_task">
  <input type="text" name="task[name]" value="Task1<%= char %>Task2">
  <input type="submit">
</form>

<% end %>
